
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {

  name: "light";
  default: true;
  --color-primary:#CAEB66;
  --color-secondary:#33929D;
  --color-accent-content:##606060
  --color-accent:#03373D;
  --color--secondary-content:#606060
}



body{
   font-family: "Poppins", sans-serif;
}

